*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  background-color: #ffffff;
  color: #7b8bad;
  overflow-x: hidden;
  padding: 0 2.4rem;
}
@media only screen and (max-width: 1200px) {
  body {
    padding: 0 3.2rem;
    overflow-x: visible;
  }
}
@media only screen and (max-width: 600px) {
  body {
    padding: 0 2.4rem;
  }
}

.heading-3, .heading-2, .heading-1 {
  font-weight: 900;
  text-transform: uppercase;
  color: #162542;
}

.heading-1 {
  font-size: 5.6rem;
  line-height: 1;
}
@media only screen and (max-width: 1200px) {
  .heading-1 {
    font-size: 4.8rem;
  }
}

.heading-2 {
  font-size: 3.2rem;
  line-height: 1.125;
}

.heading-3 {
  font-size: 2.4rem;
  line-height: 1.167;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3rem;
  width: 100%;
  max-width: 111rem;
  padding: 6rem 0;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    column-gap: 1rem;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 68.6rem;
  }
}

.header {
  grid-column: 1/-1;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  margin-top: 12.8rem;
}
.footer__text--bold {
  font-weight: 700;
}

.btn:link, .btn:visited {
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0.8rem;
  text-decoration: none;
  transition: all 0.2s;
}
@media only screen and (max-width: 600px) {
  .btn:link, .btn:visited {
    padding: 1.2rem 1.6rem;
  }
}
.btn--secondary {
  background-color: #e8eff2;
  color: #162542;
}
.btn--secondary:hover {
  background-color: #162542;
  color: #ffffff;
}
.btn--primary {
  background-color: #f16718;
  color: #ffffff;
}
.btn--primary:hover {
  background-color: #ff9b62;
}

.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3rem;
  grid-column: 1/-1;
  grid-template-rows: 48rem;
  margin-top: 8.4rem;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .hero {
    column-gap: 1rem;
  }
}
@media only screen and (max-width: 1200px) {
  .hero {
    grid-template-rows: 42.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .hero {
    grid-template-rows: min-content 33rem;
    row-gap: 6.4rem;
    align-items: start;
    margin-top: 6.4rem;
  }
}
.hero__content {
  grid-column: 1/6;
}
@media only screen and (max-width: 1200px) {
  .hero__content {
    grid-column: 1/7;
  }
}
@media only screen and (max-width: 600px) {
  .hero__content {
    grid-column: 1/-1;
  }
}
.hero__paragraph {
  font-size: 1.8rem;
  margin-top: 2.4rem;
}
@media only screen and (max-width: 1200px) {
  .hero__paragraph {
    font-size: 1.6rem;
  }
}
.hero__cta {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}
.hero__release {
  margin-left: 4rem;
  text-transform: uppercase;
  font-weight: 700;
}
.hero__image {
  grid-column: 7/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 0.8rem;
}
@media only screen and (max-width: 1200px) {
  .hero__image {
    transform: translateX(4.2rem);
    border-radius: 0.8rem 0 0 0.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .hero__image {
    grid-column: 1/-1;
    transform: translateX(2.4rem);
  }
}
.hero__deco-box {
  width: 12.5rem;
  height: 50%;
  background-color: #e8eff2;
  position: absolute;
  top: 0;
  right: -15.5rem;
  border-radius: 0.8rem;
}
@media only screen and (max-width: 1200px) {
  .hero__deco-box {
    display: none;
  }
}

.description {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3rem;
  grid-column: 1/-1;
  grid-template-rows: 48rem;
  align-items: center;
  margin-top: 3rem;
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .description {
    column-gap: 1rem;
  }
}
@media only screen and (max-width: 1200px) {
  .description {
    grid-template-rows: 32rem min-content;
  }
}
@media only screen and (max-width: 600px) {
  .description {
    grid-template-rows: 19.3rem min-content;
    column-gap: 0;
  }
}
.description__image-box {
  background-size: cover;
  background-position: center;
  border-radius: 0.8rem;
  height: 100%;
}
.description__image-box--1 {
  grid-column: 1/4;
  background-image: linear-gradient(to right, #f16718, #f16718), url(../assets/desktop/image-phone-and-keyboard.jpg);
  background-blend-mode: multiply;
}
@media only screen and (max-width: 1200px) {
  .description__image-box--1 {
    grid-column: 1/5;
  }
}
@media only screen and (max-width: 600px) {
  .description__image-box--1 {
    transform: translateX(-2.4rem);
    border-radius: 0 0.8rem 0.8rem 0;
  }
}
.description__image-box--2 {
  grid-column: 4/9;
  background-image: url(../assets/desktop/image-glass-and-keyboard.jpg);
}
@media only screen and (max-width: 1200px) {
  .description__image-box--2 {
    grid-column: 5/-1;
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .description__image-box--2 {
    margin-left: 0;
  }
}
.description__content {
  grid-column: 10/-1;
}
@media only screen and (max-width: 1200px) {
  .description__content {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 3rem;
    align-items: center;
    margin-top: 7.2rem;
  }
}
@media only screen and (max-width: 1200px) and (max-width: 1200px) {
  .description__content {
    column-gap: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .description__content {
    text-align: center;
  }
}
@media only screen and (max-width: 1200px) {
  .description__heading {
    grid-column: 1/span 3;
  }
}
@media only screen and (max-width: 600px) {
  .description__heading {
    grid-column: 1/-1;
  }
}
.description__paragraph {
  margin-top: 2.7rem;
}
@media only screen and (max-width: 1200px) {
  .description__paragraph {
    grid-column: 6/-1;
    margin-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .description__paragraph {
    grid-column: 1/-1;
    margin-top: 2.4rem;
  }
}
.description__deco-box {
  width: 12.5rem;
  height: 50%;
  background-color: #e8eff2;
  position: absolute;
  bottom: 0;
  left: -15.5rem;
  border-radius: 0.8rem;
}
@media only screen and (max-width: 1200px) {
  .description__deco-box {
    display: none;
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 3rem;
  grid-column: 1/-1;
  margin-top: 16.8rem;
  align-content: start;
}
@media only screen and (max-width: 1200px) {
  .features {
    column-gap: 1rem;
  }
}
@media only screen and (max-width: 1200px) {
  .features {
    row-gap: 7.2rem;
    column-gap: 4.8rem;
    margin-top: 14.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .features {
    row-gap: 7.2rem;
    column-gap: 1rem;
    margin-top: 10rem;
  }
}
.features .feature {
  grid-column: span 3;
}
@media only screen and (max-width: 1200px) {
  .features .feature {
    grid-column: span 6;
  }
}
@media only screen and (max-width: 600px) {
  .features .feature {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.features .feature__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 0.8rem;
  background-color: #f16718;
}
.features .feature__heading {
  margin-top: 4.8rem;
  max-width: 80%;
}
@media only screen and (max-width: 1200px) {
  .features .feature__heading {
    max-width: 15ch;
  }
}
.features .feature__paragraph {
  margin-top: 2.4rem;
}
@media only screen and (max-width: 1200px) {
  .features .feature__paragraph {
    max-width: 40ch;
  }
}

/*# sourceMappingURL=style.css.map */
