@use "../abstracts" as *;

html,
body {
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-family-primary;
  font-size: $font-size-body;
  font-weight: $font-weight-medium;
  line-height: $line-height-body;
  background-color: $color-white;
  color: $color-gray;
  overflow-x: hidden;
  padding: 0 2.4rem;

  @include mq(tablet) {
    padding: 0 3.2rem;
    overflow-x: visible;
  }

  @include mq(phone) {
    padding: 0 2.4rem;
  }
}
