// FONT FAMILIES
$font-family-primary: Barlow, sans-serif;

// FONT SIZES
$font-size-h1: 5.6rem;
$font-size-h2: 3.2rem;
$font-size-h3: 2.4rem;
$font-size-body: 1.6rem;

// FONT WEIGHTS
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;

// LINE HEIGHTS
$line-height-h1: 1;
$line-height-h2: 1.125;
$line-height-h3: 1.167;
$line-height-body: 1.625;
